/* reset */
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Remove default margin */
body,h1,h2,h3,h4,p,li,figure,figcaption,blockquote,dl,dd {
  margin: 0;
}

/* layouts */
$layout-breakpoint-mobile: 375px;
$layout-breakpoint-desktop: 1440px;

/* _typography */
$primary-bright-orange: hsl(31, 77%, 52%);
$primary-dark-cyan: hsl(184, 100%, 22%);
$primary-very-dark-cyan: hsl(179, 100%, 13%);

$neutral-transparent-white: hsla(0, 0%, 100%, 0.75);
$neutral-very-light-gray: hsl(0, 0%, 95%);

@font-face {
    font-family: "Lexend Deca",sans-serif;
    font-weight: 400;
    src: url("https://fonts.google.com/specimen/Lexend+Deca");
}

@font-face {
    font-family: "Big Shoulders Display",cursive;
    font-weight: 700;
    src: url("https://fonts.google.com/specimen/Big+Shoulders+Display");
}

/* Set core root defaults */
html{
    font-size: 62.5%;
}

/* Set core body defaults */
body{
    background-color: $neutral-very-light-gray;
    font-size: 1.5rem;
    min-height: 100vh;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
  }
  
  /* Make images easier to work with */
img, picture {
    max-width: 100%;
    display: block;
}
  
  /* Inherit fonts for inputs and buttons */
input,button,textarea,select {
    font: inherit;
}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 8rem auto;
    width: 84rem;
    font-family: "Lexend Deca";
}

.card{
    display: grid;
    grid-template-rows: .5fr .5fr .5fr 1fr;

    color: $neutral-transparent-white;
    min-width: 28rem;
    min-height: 45rem;
    padding: 4rem;

    h2{
        text-transform: uppercase;
        font-family: "Big Shoulders Display";
    }

    &__sedans{
        background-color: $primary-bright-orange;
        border-top-left-radius: 1rem;
        border-bottom-left-radius: 1rem;
    }
    &__suvs{
        background-color: $primary-dark-cyan;
        border-radius: 0;

    }
    &__luxury{
        background-color: $primary-very-dark-cyan;
        border-top-right-radius: 1rem;
        border-bottom-right-radius: 1rem;
    }

    .flex{
        display: flex;
        flex-direction: column-reverse;
        width: 14rem;

        .btn{
            background-color: $neutral-transparent-white;
            border-radius: 5rem; 
            font-size: 1.5rem;
            height: 3em;
            padding: 1rem 3rem 1rem 3rem; 
            text-decoration: none;
            transition: 0.3s ease; 
            text-align: center;

            &__sedans{
                
                color: $primary-bright-orange;

                &:hover{
                    background-color: $primary-bright-orange;
                    border: 2px solid $neutral-transparent-white;
                    color: $neutral-transparent-white;
                }
            }
            &__suvs{

                color: $primary-dark-cyan;

                &:hover{
                    background-color: $primary-dark-cyan;
                    border: 2px solid $neutral-transparent-white;
                    color: $neutral-transparent-white;
                }
            }
            &__luxury{

                color: $primary-very-dark-cyan;

                &:hover{
                    background-color: $primary-very-dark-cyan;
                    border: 2px solid $neutral-transparent-white;
                    color: $neutral-transparent-white;
                }
            }

        }

    }

}


.attribution { 
    font-size: 1.1rem; text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}