/* reset */
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Remove default margin */
body,h1,h2,h3,h4,p,li,figure,figcaption,blockquote,dl,dd {
  margin: 0;
}

/* layouts */
$breakpoint-mobile: 375px;
$breakpoint-desktop: 1440px;

/* _typography */
$primary-bright-orange: hsl(31, 77%, 52%);
$primary-dark-cyan: hsl(184, 100%, 22%);
$primary-very-dark-cyan: hsl(179, 100%, 13%);

$neutral-transparent-white: hsla(0, 0%, 100%, 0.75);
$neutral-very-light-gray: hsl(0, 0%, 95%);


@mixin animateButton($bgColor) {
    @content;
    border: 2px solid $neutral-transparent-white;
    color: $neutral-transparent-white;
    background-color: $bgColor;
}

//https://clubmate.fi/the-modern-way-of-writing-media-queries-with-the-help-of-sass
//https://css-tricks.com/snippets/sass/px-to-em-functions/
// Em conversion
@function calculateEm($size) {
    $emSize: ($size / 16px) * 1em;
    @return $emSize;
}

//https://jdsteinbach.com/css/sass-maps-breakpoint-mixin/
$breakpoints: (
    very-small:320px,
    small: 480px,
    medium: 720px,
    large: 960px,
    wide: 1200px
);

@mixin breakpoint($size) {
  @if not map-has-key($breakpoints, $size) {
    @warn "Warning: `#{$size}` is not a valid breakpoint size.";
  } @else {
    @media screen and (min-width: calculateEm(map-get($breakpoints, $size))) {
        @content;
    }
  }
}

@font-face {
    font-family: "Lexend Deca",sans-serif;
    font-weight: 400;
    src: url("https://fonts.google.com/specimen/Lexend+Deca");
}

@font-face {
    font-family: "Big Shoulders Display",cursive;
    font-weight: 700;
    src: url("https://fonts.google.com/specimen/Big+Shoulders+Display");
}

/* Set core root defaults */
html{
    font-size: 62.5%;
}

/* Set core body defaults */
body{
    background-color: $neutral-very-light-gray;
    font-size: 1.5rem;
    min-height: 100vh;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
  }
  
  /* Make images easier to work with */
img, picture {
    max-width: 100%;
    display: block;
}
  
  /* Inherit fonts for inputs and buttons */
input,button,textarea,select {
    font: inherit;
}

.container{
    display: grid;
    font-family: "Lexend Deca";
    margin: 8rem auto;

    @include breakpoint(very-small){
        grid-template-columns: 1fr;
        width: 28rem;
    }
    @include breakpoint(small){
        grid-template-columns: 1fr;
        width: 28rem;
    }
    @include breakpoint(medium){
        grid-template-columns: repeat(3,1fr);
        width: 84rem;
    }
    @include breakpoint(large){        
        grid-template-columns: repeat(3,1fr);
        width: 84rem;
    }
    @include breakpoint(wide){
        grid-template-columns: repeat(3,1fr);
        width: 84rem;
    }
    
}

.card{  
    display: grid;
    grid-template-rows: .5fr .5fr .5fr 1fr;

    color: $neutral-transparent-white;
    min-width: 28rem;
    min-height: 45rem;
    padding: 4rem;

    h2{
        text-transform: uppercase;
        font-family: "Big Shoulders Display";
    }

    &__sedans{
        background-color: $primary-bright-orange;
    }
    &__suvs{
        background-color: $primary-dark-cyan;
        border-radius: 0;

    }
    &__luxury{
        background-color: $primary-very-dark-cyan;
    }

    @include breakpoint(very-small){
        &__sedans{
            border-radius: 1rem 1rem 0 0;
        }
        &__luxury{
            border-radius: 0 0 1rem 1rem;
        }
    }
    @include breakpoint(small){
        &__sedans{
            border-radius: 1rem 1rem 0 0;
        }
        &__luxury{
            border-radius: 0 0 1rem 1rem;
        }
    }
    @include breakpoint(medium){
        &__sedans{
            border-radius: 1rem 0 0 1rem;
        }
        &__luxury{
            border-radius: 0 1rem 1rem 0;
        }
    }
    @include breakpoint(large){
        &__sedans{
            border-radius: 1rem 0 0 1rem;
        }
        &__luxury{
            border-radius: 0 1rem 1rem 0;
        }
    }
    @include breakpoint(wide){
        &__sedans{
            border-radius: 1rem 0 0 1rem;
        }
        &__luxury{
            border-radius: 0 1rem 1rem 0;
        }
    }

    .flex{
        display: flex;
        flex-direction: column-reverse;
        width: 14rem;

        .btn{
            background-color: $neutral-transparent-white;
            border-radius: 5rem; 
            font-size: 1.5rem;
            height: 3em;
            padding: 1rem 3rem 1rem 3rem; 
            text-decoration: none;
            transition: 0.3s ease; 
            text-align: center;

            &__sedans{
                
                color: $primary-bright-orange;

                &:hover{
                    @include animateButton($primary-bright-orange);
                }
            }
            &__suvs{

                color: $primary-dark-cyan;

                &:hover{
                    @include animateButton($primary-dark-cyan);
                }
            }
            &__luxury{

                color: $primary-very-dark-cyan;

                &:hover{
                    @include animateButton($primary-very-dark-cyan);
                }
            }

        }

    }

}

.attribution { 
    font-size: 1.1rem; text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}